@font-face {
  font-family: 'sofiaproregular';
  src: url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sofiaprolight';
  src: url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sofiaproultralight';
  src: url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sofiaproextralight';
  src: url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfairregular';
  src: format("woff"), url("../assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
