// Class template
// .foo {
//     // Fonts
//     font-family: "Helvetica";
//     // Size
//     min-width: 50%;
//     // Margins
//     padding-top: 1rem;
//     // Style
//     color: red;
//     // Susy Grid
//     @include span(2);
//     // Susy Breakpoint
//     @include susy-breakpoint(200px, 8) {
//         ...
//     }
// }

// Import susy
@import "../../bower_components/susy/sass/susy";
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "fontface";

$susy: (
    columns: 4,
    gutters: 0,
    global-box-sizing: border-box,
    debug: (
        image: false,
        color: rgba(10,10,100,0.5)
    )
);

@include border-box-sizing;

// Colores
$pirite: rgba(189,148,81,1);
$pirite-light: rgba(189,148,81,0.75);
$carbon: #232323;
$magenta: #822DAC;
$green: #19BA6F;

// mixings
@mixin vertPad ($x){
    padding-top: $x;
    padding-bottom: $x;
}

// Vars
$verticalPadding: 4rem;

html {
    font-size: 10px;
}

body {
    font-family: "sofiaprolight";
    font-size: 10px;
    color: #ffffff;
    background-size: 100%;
    background-color: $carbon;
    position: relative;
}

.wrapper {
    @include clearfix;
}

.inner-content {
    @include container(750px);
    padding: 0 30px;
}

.intro {
    h1 {
        font-family: "sofiaproextralight";
        font-size: 2.4rem;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #444;
        color: $pirite;
    }
}

.section {
    padding-bottom: 3rem;
    h2 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        margin-bottom: 2rem;
    }

    p {
        font-family: "sofiaproextralight";
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #999;
        margin-bottom: 2.4rem;
    }

    em {
        color: $carbon;
        background-color: $pirite;
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 3rem;
}

.intro {
    margin-bottom: 4rem;
    padding-top: 13rem;

    .title {
        font-family: "sofiaprolight";
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: -0.5px;
        margin-bottom: 1.6rem;
        color: $pirite;
    }

    .subtitle {
        font-family: "sofiaproextralight";
        font-size: 2rem;
        line-height: 2.6rem;
        letter-spacing: 0;
        margin-bottom: 2rem;
        color: #777;
    }
}


.teams {
    @include vertPad($verticalPadding);
    background-color: gray;
}

.design-eco {
    @include vertPad($verticalPadding);
    color: #232323;
    background-color: #fff;

    .content {
        p {
            color: #777;
        }
    }
}
.metodo {
    position: relative;
    margin-top: 4rem;
    .nav-circles {
        padding-right: 30px;
        position: absolute;
        top: 8px;
        right: 0;
        li {
            float: left;
            margin-right: 2rem;
            &:last-child {
                margin-right: 0;
            }
        }
        p {
            color: gray;
        }
        .active p {
            color: white;
        }

    }
    .metodo-tabs img {
        @include vertPad(2rem);
        width: 100%;
    }
}


.quote {
    @include vertPad($verticalPadding);

    &.dani {
        background-color: $magenta;
    }

    &.henar {
        background-color: $green;
    }

    p {
        font-family: "playfairregular";
        font-size: 2.4rem;
        line-height:3.6rem;
        letter-spacing: -0.5px;
        color: #fff;
    }

    .cite {
        margin-bottom: 20rem;
    }

    .quote-person p {
        font-family: "sofiaproultralight";
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-bottom: 0;
    }
}

.footer {

    margin: 0;

    .inner-content {
        -webkit-box-shadow: 0px 1px 0px 0px rgba(119,119,119,1);
        -moz-box-shadow: 0px 1px 0px 0px rgba(119,119,119,1);
        box-shadow: 0px 1px 0px 0px rgba(119,119,119,1);
    }

    .clients {
        .big-button {
            text-align: center;
            text-decoration: none;
            color: $pirite;
            display: block;
            font-size: 2rem;
            border: 1px solid $pirite;
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
            margin: 4rem 0;
            &:hover {
                text-decoration: line-through;
            }
        }
    }

    .hablamos {

        .photo {
            @include span(2);
            img {
                width: 100%;
                padding-right: 2rem;
            }
        }
        .data {
            @include span(2);
            .title {
                font-size: 2rem;
                color: $pirite;
                margin-bottom: 1rem;
            }
            .person-data {
                margin-bottom: 1rem;
            }
            p {
                color: #999;
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }
            .mail {
                font-size: 1.3rem;
                a {
                    color: #777;
                    text-decoration: none;
                }
            }
        }
    }
}
