/*
*
*   Secuoyas Web Theme
*   @page: metodologia
*
*/


// Imports
@import "../../bower_components/susy/sass/susy";
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "fontface";
@import "theme";

// Susy configuration
$susy: (
    columns: 4,
    gutters: 0,
    global-box-sizing: border-box,
    debug: (
        image: false,
        color: rgba(#66f, 0.1),
        // toggle: right top,
    )
);

@include border-box-sizing;

// Global selectors
html {
    font-size: 10px;
}

body {
    font-family: "sofiaprolight";
    font-size: 10px;
    color: #ffffff;
    position: relative;
    background-size: 100%;
    background-color: $carbon;
    background: url("../assets/images/img-bg-body.png") top center #232323 no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#metodologia {
    font-size: 1.6rem;
}

// Container al 100% de ancho
.wrapper {
    @include clearfix;
}
// Container interior
.inner {
    @include container(749px);
    padding: 0 30px;

    @include susy-breakpoint(750px, 16) {
        padding: 0;
        @include container(900px);
    }

    @include susy-breakpoint(900px, 16) {
        @include container(900px);
    }

    @include susy-breakpoint(1280px, 16) {
        @include container(1280px);
    }

    @include susy-breakpoint(14400px, 16) {
        border: 1px solid purple;
        @include container(1440px);
    }
}

/*
*   @type: Selectores generales
*   @name h1
*/
h1 {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.5px;
    margin-bottom: 1.6rem;
    color: $pirite;

    @include susy-breakpoint($mediumBP, 16) {
        font-size: 7.2rem;
        line-height: 6.4rem;
        margin-bottom: 3rem;
    }
}

/*
*   @type: Selectores generales
*   @name h2
*/
h2 {
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: $pirite;
    border-bottom: 1px solid #777;

    @include susy-breakpoint($mediumBP, 16) {
        font-size: 2.4rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
        // @include pre(2);
        // @include span(12);
    }
}

/*
*   @type: Selectores generales
*   @name h3
*/
h3 {
    font-family: "sofiaproregular";
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;

    @include susy-breakpoint($mediumBP, 16) {
        font-size: 4rem;
        line-height: 4.8rem;
    }
}

/*
*   @type: Selectores generales
*   @name: span
*/
h4 {
    font-family: "sofiaprolight";
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: 0;
    color: #777;

    @include susy-breakpoint($mediumBP, 16) {
        font-size: 3.2rem;
        line-height: 3.6rem;
    }
}

em {
    color: $carbon;
    background-color: $pirite;
}

p {
    font-family: "sofiaprolight";
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #999;
    margin-bottom: 2.4rem;
}

a {
    text-decoration: none;
}

/*
*   @type: modulo
*   @name section
*/
.section {

    font-family: "sofiaprolight";
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #232323;

    @include susy-breakpoint($mediumBP, 16) {
        .content {
            @include pre(2);
            @include span(12);
        }
        .content p {
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-bottom:0;

            @include span(6 of 12);

            // Col1
            &.col-left {
                padding-right: span(1) / 3;
            }
            // Col2
            &.col-right {
                padding-left: span(1) / 3;
            }
        }
    }

    @include susy-breakpoint($large, 16) {
        .content {
            @include pre(4);
            @include span(8);
        }
    }

}

/*
*   @type: modulo
*   @name header
*/
.header {
    position: fixed;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-right: 3rem;
    width: 100%;

    .logo {
        float: left;
        svg {
            width: 4rem;
        }
    }

    .nav {
        float: right;
        padding-top: 1rem;
    }

    @include susy-breakpoint($mediumBP, 16) {
        padding-left: 6rem;
        padding-top: 6rem;
        padding-right: 6rem;

        .logo {
            svg {
                width: 6.4rem;
            }
        }
    }
}

/*
*   @type: modulo
*   @name intro
*/
.intro {
    .section {
        background-color: transparent;
        &.hero-title {
            padding-top: 12rem;

            @include susy-breakpoint($mediumBP, 16) {
                padding-top: 20rem;
                margin-bottom: 8rem;
            }
        }
    }
}

/*
*   @type: modulo
*   @name actitud
*/
.actitud {
    .section {
        &.section-title, &.user, &.rythm {
            background-color: transparent;
        }
    }

    .section {
        &.rythm {
            padding-bottom: 4rem;
        }

        @include susy-breakpoint($mediumBP, 16) {
            &.rythm {
                padding-bottom: 8rem;
            }
        }
    }

    .teams {
        margin: 0;
        padding-top: 6rem;
        padding-bottom: 6rem;
        background: url("../assets/images/equipos.png") #232323 center center no-repeat;
        background-size: 100%;
        background-position: center -20px;

        @include susy-breakpoint($mediumBP, 16) {
            background-position: center center;
            h3 {
                @include span(8 of 12);
            }

            p.col-left {
                margin-bottom: 2rem;
            }
            a {
                display: block;
                @include full;
            }
        }
    }

    .design-eco {
        padding-top: 4rem;
        background-color: #fff;
        @include clearfix;
        h3 {
            color: #232323;
        }
        p {
            color: #777;
        }
        img {
            margin-top: 3rem;
            margin-bottom: 6rem;
        }
        .desktop-image {
            display: none;
        }
        .out {
            display: block;
        }
        @include susy-breakpoint($mediumBP, 16) {
            .desktop-image {
                display: block;
            }
            .out {
                display: none;
            }
            img {
                @include span(12 of 12);
            }
        }
    }


}

/*
*   @type: modulo
*   @name metodo
*/
.metodo {
    background-color: #232323;

    // Método
    .tabs {
        img {
            @include full;
        }
        li {
            display: none;
        }
        li.active {
            display: block;
        }
    }

    @include susy-breakpoint($mediumBP, 16) {
        .tabs {
            padding-bottom: 4rem;
            img {
                margin-top: 4rem;
            }
        }
    }
}

/*
*   @type: modulo
*   @name capacidades
*/
.capacidades {
    background-color: #232323;
    @include clearfix;

    .content p {
        color: #fff;
        font-size: 1.6rem;
        line-height: 1.6rem;
        width: 100%;
    }

    @include susy-breakpoint($mediumBP, 16) {
        .content p {
            color: #fff;
            font-size: 2.4rem;
            line-height: 2.4rem;
            width: 100%;
        }

        ul {
            li {
                @include clearfix;
                padding-bottom: 3rem;
            }

            &.col-left {
                @include span(6 of 12);
            }
            &.col-right {
                @include span(6 of 12);
            }
        }
    }
}

/*
*   @type: modulo
*   @name quote
*/
.quote {
    padding-top: 4rem;
    background-size: 24rem;
    background-position: right bottom;
    background-repeat: no-repeat;

    &.dani {
        background-image: url("../assets/images/img-fr-quote-dani-S.png");
        background-color: $magenta;
    }

    &.henar {
        background-image: url("../assets/images/img-fr-quote-henar-S.png");
        background-color: $green;
    }

    .inner {
        position: relative;
    }

    .content {
        img {
            display: none;
        }
    }

    p {
        font-family: "playfairregular";
        font-size: 2.4rem;
        line-height:3.6rem;
        // letter-spacing: -0.5px;
        color: #fff;
    }

    .cite {
        padding-bottom: 2rem;
        p {
            margin-bottom: 24rem;
        }
        .quote-person {
            p {
                font-family: "sofiaprolight";
                font-size: 1.6rem;
                line-height: 2.8rem;
                margin-bottom: 0;
            }
        }
    }

    @include susy-breakpoint($mediumBP, 16) {
        padding-top: 6rem;
        .inner {
            position: relative;
            background-image: none;

            .content {
                @include pre(2);
                @include span(12);
                padding-bottom: 4rem;
                img {
                    // @include span(4 of 12);
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: span(6 of 16);
                }

                .cite {
                    @include span(9 of 12);
                    margin-bottom: 0;
                    &>p {
                        margin-bottom: 4rem;
                    }
                }
            }
        }

        &.dani {
            background-image: none;
        }

        &.henar {
            background-image: none;
        }
    }

    @include susy-breakpoint($largeBP, 16) {
        .inner {
            .content {
                img {
                    // @include span(4 of 12);
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: span(4.75 of 16);
                }
            }
        }
    }
}

.cookie {
    background-color: $cookiebg;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    p {
        font-size: 1.4rem;
        margin: 0;
        padding: 0 1rem;
        text-align: center;
        line-height: 2rem;
        a {
            color: #ffffff;
        }
    }
}
