/*
*   Theme config
*   Secuoyas
*/

// Colors
$pirite: rgba(#BD9451, 1.0);
$carbon: rgba(#232323, 1.0);
$magenta: rgba(#822DAC, 1.0);
$green: rgba(#2FC184, 1.0);
$green: rgba(#19BA6F, 1.0);
$silver: rgba(#cecece, 1.0);
$aquamarine: rgba(#33f7fb, 1.0);
$azurite: rgba(#232CE3, 1.0);
$blue: rgba(#5186C8, 1.0);
$yellow: rgba(#F1CC64, 1.0);
$orange: rgba(#D5804C, 1.0);
$purple: rgba(#934EB8, 1.0);
$cookiebg: rgba(#4a4a4a, 1.0);

// Breakpoints
$mediumBP: 750px;
$largeBP: 900px;
$extralargeBP: 1280px;

// Containers
$medium: 900px;
$large: 1280px;
$extralarge: 1440px
