html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'sofiaproregular';
  src: url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sofiaprolight';
  src: url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sofiaproultralight';
  src: url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sofiaproextralight';
  src: url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'playfairregular';
  src: format("woff"), url("../assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "sofiaprolight";
  font-size: 10px;
  color: #ffffff;
  background-size: 100%;
  background-color: #232323;
  position: relative;
}

.wrapper {
  overflow: hidden;
  *zoom: 1;
}

.inner-content {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}
.inner-content:after {
  content: " ";
  display: block;
  clear: both;
}

.intro h1 {
  font-family: "sofiaproextralight";
  font-size: 2.4rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #444;
  color: #bd9451;
}

.section {
  padding-bottom: 3rem;
}
.section h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}
.section p {
  font-family: "sofiaproextralight";
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #999;
  margin-bottom: 2.4rem;
}
.section em {
  color: #232323;
  background-color: #bd9451;
}

.header {
  position: fixed;
  width: 100%;
  top: 3rem;
}

.intro {
  margin-bottom: 4rem;
  padding-top: 13rem;
}
.intro .title {
  font-family: "sofiaprolight";
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
  color: #bd9451;
}
.intro .subtitle {
  font-family: "sofiaproextralight";
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0;
  margin-bottom: 2rem;
  color: #777;
}

.teams {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: gray;
}

.design-eco {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #232323;
  background-color: #fff;
}
.design-eco .content p {
  color: #777;
}

.metodo {
  position: relative;
  margin-top: 4rem;
}
.metodo .nav-circles {
  padding-right: 30px;
  position: absolute;
  top: 8px;
  right: 0;
}
.metodo .nav-circles li {
  float: left;
  margin-right: 2rem;
}
.metodo .nav-circles li:last-child {
  margin-right: 0;
}
.metodo .nav-circles p {
  color: gray;
}
.metodo .nav-circles .active p {
  color: white;
}
.metodo .metodo-tabs img {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.quote {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.quote.dani {
  background-color: #822DAC;
}
.quote.henar {
  background-color: #19BA6F;
}
.quote p {
  font-family: "playfairregular";
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: -0.5px;
  color: #fff;
}
.quote .cite {
  margin-bottom: 20rem;
}
.quote .quote-person p {
  font-family: "sofiaproultralight";
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 0;
}

.footer {
  margin: 0;
}
.footer .inner-content {
  -webkit-box-shadow: 0px 1px 0px 0px #777777;
  -moz-box-shadow: 0px 1px 0px 0px #777777;
  box-shadow: 0px 1px 0px 0px #777777;
}
.footer .clients .big-button {
  text-align: center;
  text-decoration: none;
  color: #bd9451;
  display: block;
  font-size: 2rem;
  border: 1px solid #bd9451;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  margin: 4rem 0;
}
.footer .clients .big-button:hover {
  text-decoration: line-through;
}
.footer .hablamos .photo {
  width: 50%;
  float: left;
}
.footer .hablamos .photo img {
  width: 100%;
  padding-right: 2rem;
}
.footer .hablamos .data {
  width: 50%;
  float: left;
}
.footer .hablamos .data .title {
  font-size: 2rem;
  color: #bd9451;
  margin-bottom: 1rem;
}
.footer .hablamos .data .person-data {
  margin-bottom: 1rem;
}
.footer .hablamos .data p {
  color: #999;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.footer .hablamos .data .mail {
  font-size: 1.3rem;
}
.footer .hablamos .data .mail a {
  color: #777;
  text-decoration: none;
}
