/*
*
*   Secuoyas Web Theme
*   @page: metodologia
*
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'sofiaproregular';
  src: url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProRegular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sofiaprolight';
  src: url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProLight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sofiaproultralight';
  src: url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProUltraLight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sofiaproextralight';
  src: url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.eot");
  src: url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.woff") format("woff"), url("../assets/fonts/SofiaPro-web/SofiaProExtraLight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'playfairregular';
  src: format("woff"), url("../assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*
*   Theme config
*   Secuoyas
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "sofiaprolight";
  font-size: 10px;
  color: #ffffff;
  position: relative;
  background-size: 100%;
  background-color: #232323;
  background: url("../assets/images/img-bg-body.png") top center #232323 no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

#metodologia {
  font-size: 1.6rem;
}

.wrapper {
  overflow: hidden;
  *zoom: 1;
}

.inner {
  max-width: 749px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}
.inner:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 750px) {
  .inner {
    padding: 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .inner:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 900px) {
  .inner {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .inner:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1280px) {
  .inner {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .inner:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 14400px) {
  .inner {
    border: 1px solid purple;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .inner:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/*
*   @type: Selectores generales
*   @name h1
*/
h1 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
  color: #bd9451;
}
@media (min-width: 750px) {
  h1 {
    font-size: 7.2rem;
    line-height: 6.4rem;
    margin-bottom: 3rem;
  }
}

/*
*   @type: Selectores generales
*   @name h2
*/
h2 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  color: #bd9451;
  border-bottom: 1px solid #777;
}
@media (min-width: 750px) {
  h2 {
    font-size: 2.4rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

/*
*   @type: Selectores generales
*   @name h3
*/
h3 {
  font-family: "sofiaproregular";
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}
@media (min-width: 750px) {
  h3 {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

/*
*   @type: Selectores generales
*   @name: span
*/
h4 {
  font-family: "sofiaprolight";
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0;
  color: #777;
}
@media (min-width: 750px) {
  h4 {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
}

em {
  color: #232323;
  background-color: #bd9451;
}

p {
  font-family: "sofiaprolight";
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #999;
  margin-bottom: 2.4rem;
}

a {
  text-decoration: none;
}

/*
*   @type: modulo
*   @name section
*/
.section {
  font-family: "sofiaprolight";
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
@media (min-width: 750px) {
  .section .content {
    margin-left: 12.5%;
    width: 75%;
    float: left;
  }
  .section .content p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 0;
    width: 50%;
    float: left;
  }
  .section .content p.col-left {
    padding-right: 2.08333%;
  }
  .section .content p.col-right {
    padding-left: 2.08333%;
  }
}
@media (min-width: 1280px) {
  .section .content {
    margin-left: 25%;
    width: 50%;
    float: left;
  }
}

/*
*   @type: modulo
*   @name header
*/
.header {
  position: fixed;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-right: 3rem;
  width: 100%;
}
.header .logo {
  float: left;
}
.header .logo svg {
  width: 4rem;
}
.header .nav {
  float: right;
  padding-top: 1rem;
}
@media (min-width: 750px) {
  .header {
    padding-left: 6rem;
    padding-top: 6rem;
    padding-right: 6rem;
  }
  .header .logo svg {
    width: 6.4rem;
  }
}

/*
*   @type: modulo
*   @name intro
*/
.intro .section {
  background-color: transparent;
}
.intro .section.hero-title {
  padding-top: 12rem;
}
@media (min-width: 750px) {
  .intro .section.hero-title {
    padding-top: 20rem;
    margin-bottom: 8rem;
  }
}

/*
*   @type: modulo
*   @name actitud
*/
.actitud .section.section-title, .actitud .section.user, .actitud .section.rythm {
  background-color: transparent;
}
.actitud .section.rythm {
  padding-bottom: 4rem;
}
@media (min-width: 750px) {
  .actitud .section.rythm {
    padding-bottom: 8rem;
  }
}
.actitud .teams {
  margin: 0;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: url("../assets/images/equipos.png") #232323 center center no-repeat;
  background-size: 100%;
  background-position: center -20px;
}
@media (min-width: 750px) {
  .actitud .teams {
    background-position: center center;
  }
  .actitud .teams h3 {
    width: 66.66667%;
    float: left;
  }
  .actitud .teams p.col-left {
    margin-bottom: 2rem;
  }
  .actitud .teams a {
    display: block;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.actitud .design-eco {
  padding-top: 4rem;
  background-color: #fff;
  overflow: hidden;
  *zoom: 1;
}
.actitud .design-eco h3 {
  color: #232323;
}
.actitud .design-eco p {
  color: #777;
}
.actitud .design-eco img {
  margin-top: 3rem;
  margin-bottom: 6rem;
}
.actitud .design-eco .desktop-image {
  display: none;
}
.actitud .design-eco .out {
  display: block;
}
@media (min-width: 750px) {
  .actitud .design-eco .desktop-image {
    display: block;
  }
  .actitud .design-eco .out {
    display: none;
  }
  .actitud .design-eco img {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/*
*   @type: modulo
*   @name metodo
*/
.metodo {
  background-color: #232323;
}
.metodo .tabs img {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.metodo .tabs li {
  display: none;
}
.metodo .tabs li.active {
  display: block;
}
@media (min-width: 750px) {
  .metodo .tabs {
    padding-bottom: 4rem;
  }
  .metodo .tabs img {
    margin-top: 4rem;
  }
}

/*
*   @type: modulo
*   @name capacidades
*/
.capacidades {
  background-color: #232323;
  overflow: hidden;
  *zoom: 1;
}
.capacidades .content p {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6rem;
  width: 100%;
}
@media (min-width: 750px) {
  .capacidades .content p {
    color: #fff;
    font-size: 2.4rem;
    line-height: 2.4rem;
    width: 100%;
  }
  .capacidades ul li {
    overflow: hidden;
    *zoom: 1;
    padding-bottom: 3rem;
  }
  .capacidades ul.col-left {
    width: 50%;
    float: left;
  }
  .capacidades ul.col-right {
    width: 50%;
    float: left;
  }
}

/*
*   @type: modulo
*   @name quote
*/
.quote {
  padding-top: 4rem;
  background-size: 24rem;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.quote.dani {
  background-image: url("../assets/images/img-fr-quote-dani-S.png");
  background-color: #822dac;
}
.quote.henar {
  background-image: url("../assets/images/img-fr-quote-henar-S.png");
  background-color: #19ba6f;
}
.quote .inner {
  position: relative;
}
.quote .content img {
  display: none;
}
.quote p {
  font-family: "playfairregular";
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #fff;
}
.quote .cite {
  padding-bottom: 2rem;
}
.quote .cite p {
  margin-bottom: 24rem;
}
.quote .cite .quote-person p {
  font-family: "sofiaprolight";
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 0;
}
@media (min-width: 750px) {
  .quote {
    padding-top: 6rem;
  }
  .quote .inner {
    position: relative;
    background-image: none;
  }
  .quote .inner .content {
    margin-left: 12.5%;
    width: 75%;
    float: left;
    padding-bottom: 4rem;
  }
  .quote .inner .content img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 37.5%;
  }
  .quote .inner .content .cite {
    width: 75%;
    float: left;
    margin-bottom: 0;
  }
  .quote .inner .content .cite > p {
    margin-bottom: 4rem;
  }
  .quote.dani {
    background-image: none;
  }
  .quote.henar {
    background-image: none;
  }
}
@media (min-width: 900px) {
  .quote .inner .content img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 29.6875%;
  }
}

.cookie {
  background-color: #4a4a4a;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.cookie p {
  font-size: 1.4rem;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  line-height: 2rem;
}
.cookie p a {
  color: #ffffff;
}
